@model IEnumerable<exam_MVC.Models.Exam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassRoom.RoomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamSubject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty.NameFaculty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StarTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExamDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassRoom.RoomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamSubject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty.NameFaculty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExamDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExamId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExamId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExamId })
        </td>
    </tr>
}

</table>
